@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: rgba(255, 139, 107, 0.82);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: #be0909;
    margin: 200px;
    border-radius: 30px;
    width: 954px;
    height: 594px;
    position: relative;
    box-shadow: -20px 20px 32px 0px rgb(0 0 0 / 38%);
}

.nam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 64px;
    padding-left: 65px;
}

.rectangle {
    background: #FFB039;
    border-radius: 30px;
    width: 345px;
    height: 594px;
    position: absolute;
    display: flex;
    align-content: baseline;
    left: 609px;
    top: 0;
}

input {
    color: white;
}

.label {
    color: #fdfeff;
    text-transform: uppercase;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: normal;
}

.input-field {

    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    text-align: left;
    border: none;
    position: relative;
    top: 26px;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    letter-spacing: 4.4px;
    
}

.line-1 {
    border-style: solid;
    border-color: #9dbebb;
    border-width: 1px 0 0 0;
    width: 400px;
    height: 0px;
    position: relative;
    top: 36px;
}

.line-2 {
    border-style: solid;
    border-color: #9dbebb;
    border-width: 1px 0 0 0;
    width: 160px;
    height: 0px;
    position: relative;
    top: 36px;
}

.submit {
    background: #468189;
    border-radius: 40px;
    width: 202px;
    height: 48px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
    color: #ffffff;
    text-align: center;
    font: 700 18px 'Roboto', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 288px);
    top: calc(50% - -217px);
}

.duck {
    position: absolute;
    width: 663px;
    height: 603px;
    top: 25px;
    left: 184px;
    object-fit: cover;
}